@media (max-width: 768px){
    .design_phone{
        display: none;
    }
}

@media (max-width: 992px){
    .design_phone{
        bottom: -2530px;
        right: 100px !important;
    }
}

@media (max-width: 1199px){
    .design_phone{
        bottom: -2600px;
        right: 170px;
    }
}

@media (min-width: 1200px){
    .design_phone{
        bottom: -2760px;
        right: 23vw;
    }
}

.design{
    background-image: url("../images/Layer45.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    .underline{
        margin-bottom: 28px;
    }
    .design_tablet{
    display: flex;
    align-items: flex-end;
    }
    .design_phone{
        position: absolute;
    }
}
