@media (max-width: 768px){
    .quote_one{
        display: none;
    }
}

.quote_one{
    background-color: #f8f8f8;
    margin-top: 120px;
    .carousel {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        .carousel_control{
            @include indicator_carousele;
            margin-top: 70px;
        }
        .right{
            padding-right: 23px;
        }
        .item{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

blockquote {
    border: 0 !important;
    .carousele_text {
        @include p_carousele;
    }
    .carousele_icon_border {
        height: 150px !important;
        width: 150px !important;
        padding-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 3px #95e1d3;
        .carousele_icon {
            width: 100px;
            height: 100px;
            margin-right: 30px;
            padding: 15px;
        }
    }
    .carousele_name{
        @include carousele_name;
    }
    .carousele_name_line{
        @include carousele_line;
    }
}
